<main class="flex-1 pb-8">
  <div class="mt-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
        <!-- Card -->
        <div class="overflow-hidden rounded-lg">
        </div>
        <div class="overflow-hidden rounded-lg">
          <div class="p-5">
          </div>
        </div>
        <div class="bg-cardBody overflow-hidden shadow rounded-lg">
          <div class="p-5">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <!-- Heroicon name: outline/scale -->
                <svg xmlns="http://www.w3.org/2000/svg" class="text-white h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
              </div>
              <div class="ml-5 w-0 flex-1 text-right">
                <dl>
                  <dt class="text-sm font-thin text-darkText truncate">Available Balance</dt>
                  <dd>
                    <div class="text-lg font-medium text-white">R0.00</div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="bg-cardBody px-5 py-3">
            <div class="mt-6 flex items-center space-x-3 md:mt-0 md:ml-4">
            </div>
          </div>
        </div>
        <!-- More items... -->
      </div>
    </div>
    <div class="mt-8">
      <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="bg-cardBody shadow sm:rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-thin text-white">Payment method</h3>
            <div class="mt-5">
              <div class="rounded-md bg-cardBody px-6 py-5 sm:flex sm:items-start sm:justify-between">
                <h4 class="sr-only">Visa</h4>
                <div class="sm:flex sm:items-start">
                  <svg class="h-8 w-auto sm:flex-shrink-0 sm:h-6" viewBox="0 0 36 24" aria-hidden="true">
                    <rect width="36" height="24" fill="#224DBA" rx="4" />
                    <path fill="#fff" d="M10.925 15.673H8.874l-1.538-6c-.073-.276-.228-.52-.456-.635A6.575 6.575 0 005 8.403v-.231h3.304c.456 0 .798.347.855.75l.798 4.328 2.05-5.078h1.994l-3.076 7.5zm4.216 0h-1.937L14.8 8.172h1.937l-1.595 7.5zm4.101-5.422c.057-.404.399-.635.798-.635a3.54 3.54 0 011.88.346l.342-1.615A4.808 4.808 0 0020.496 8c-1.88 0-3.248 1.039-3.248 2.481 0 1.097.969 1.673 1.653 2.02.74.346 1.025.577.968.923 0 .519-.57.75-1.139.75a4.795 4.795 0 01-1.994-.462l-.342 1.616a5.48 5.48 0 002.108.404c2.108.057 3.418-.981 3.418-2.539 0-1.962-2.678-2.077-2.678-2.942zm9.457 5.422L27.16 8.172h-1.652a.858.858 0 00-.798.577l-2.848 6.924h1.994l.398-1.096h2.45l.228 1.096h1.766zm-2.905-5.482l.57 2.827h-1.596l1.026-2.827z" />
                  </svg>
                  <div class="mt-3 sm:mt-0 sm:ml-4">
                    <div class="text-sm font-medium text-white">Ending with 4242</div>
                    <div class="mt-1 text-sm text-darkText sm:flex sm:items-center">
                      <div>Expires 12/20</div>
                      <span class="hidden sm:mx-2 sm:inline" aria-hidden="true"> &middot; </span>
                      <div class="mt-1 sm:mt-0">Last updated on 14 Jun 2022</div>
                    </div>
                  </div>
                </div>
                <div class="mt-4 sm:mt-0 sm:ml-6 sm:flex-shrink-0">
                  <button type="button" class="inline-flex text-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">Change Card</button>
                  <button type="button" id="btn-withdraw" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm font-medium rounded-md text-white bg-darkGreen hover:bg-lightGreen focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">Request Payout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8">
      <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="">
          <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                  <nav class="bg-cardBody">
                    <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
                      <div class="relative flex items-center justify-between h-16">
                        <div class="flex items-center px-2 lg:px-0">
                          <div class="flex-shrink-0">
                            <p class="text-white font-thin">WIthdrawal Requests</p>
                          </div>
                          <div class="hidden lg:block lg:ml-6">
                            <div class="flex space-x-4">
                            </div>
                          </div>
                        </div>
                        <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
                          <div class="max-w-lg w-full lg:max-w-xs">
                            <label for="search" class="sr-only">Search</label>
                            <div class="relative">
                              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <!-- Heroicon name: solid/search -->
                                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                </svg>
                              </div>
                              <input id="search" name="search" class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-gray-700 text-gray-300 placeholder-gray-400 focus:outline-none focus:bg-white focus:border-white focus:ring-white focus:text-gray-900 sm:text-sm" placeholder="Search" type="search">
                            </div>
                          </div>
                        </div>
                        <div class="flex lg:hidden">
                          <!-- Mobile menu button -->
                        </div>
                        <div class="hidden lg:block lg:ml-4">
                          <div class="flex items-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </nav>
                  <table class="min-w-full divide-y divide-darkText">
                    <thead class="bg-cardBody">
                      <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-6">Date</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Amount</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Status</th>
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-darkText bg-cardBody">
                      <% @withdrawals.each do |withdrawal| %>
                        <tr>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-white"><%= withdrawal.created_at%></td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-white">R<%= withdrawal.amount %></td>
                          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                            <span class="inline-flex rounded-full bg-darkGreen px-2 text-xs font-semibold leading-5 text-white"><%= withdrawal.status%></span>
                          </td>
                        </tr>
                      <% end %>
                      <!-- More people... -->
                    </tbody>
                  </table>
                  <!-- This example requires Tailwind CSS v2.0+ -->
                  <div class="bg-cardBody px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
                    <div class="flex-1 flex justify-between sm:hidden">
                      <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Previous </a>
                      <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Next </a>
                    </div>
                    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                      <div>
                        <p class="text-sm text-darkText">
                          Showing
                          <span class="font-medium">1</span>
                          to
                          <span class="font-medium">10</span>
                          of
                          <span class="font-medium">97</span>
                          results
                        </p>
                      </div>
                      <div>
                        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                          <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                            <span class="sr-only">Previous</span>
                            <!-- Heroicon name: solid/chevron-left -->
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                          </a>
                          <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
                          <a href="#" aria-current="page" class="z-10 bg-darkGreen border-darkGreen text-white relative inline-flex items-center px-4 py-2 border text-sm font-thin"> 1 </a>
                          <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 2 </a>
                          <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 hidden md:inline-flex relative items-center px-4 py-2 border text-sm font-medium"> 3 </a>
                          <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700"> ... </span>
                          <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 hidden md:inline-flex relative items-center px-4 py-2 border text-sm font-medium"> 8 </a>
                          <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 9 </a>
                          <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 10 </a>
                          <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                            <span class="sr-only">Next</span>
                            <!-- Heroicon name: solid/chevron-right -->
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                          </a>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main modal -->
      <div id="withdrawal-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 w-full overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog">
        <div class="relative w-full h-full max-w-md p-4 md:h-auto">
          <div class="fixed inset-0 bg-darkGreen bg-opacity-25 transition-opacity" aria-hidden="true"></div>
          <!-- Modal content -->
          <div class="relative bg-cardBody rounded-lg shadow dark:bg-cardBody">
            <button type="button" id="ok-btn" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="payment-modal">
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            <div class="px-6 py-6 lg:px-8">
              <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Request Payout</h3>
              <%= form_for Withdrawal.new, url:{action: "create"},  local: true, html: {class: "space-y-6" } do |form| %>
                <div class="mt-6 flex items-center space-x-3 md:mt-0 md:ml-4">
                  <a class="w-full justify-center inline-flex px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-white bg-darkGreen hover:bg-lightGreen focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-darkGreen">R100 </a>
                  <a class="w-full justify-center inline-flex  px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-white bg-darkGreen hover:bg-lightGreen focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-darkGreen" data-modal-toggle="payment-modal">R200 </a>
                  <a class="w-full justify-center inline-flex px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-white bg-darkGreen hover:bg-lightGreen focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-darkGreen">R500 </a>
                  <a class="w-full justify-center inline-flex  px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-white bg-darkGreen hover:bg-lightGreen focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-darkGreen" data-modal-toggle="payment-modal">R1000</a>
                </div>
                <div>
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Amount</label>
                  <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <div class="max-w-lg flex rounded-md shadow-sm">
                      <span class="bg-gray-50 border-gray-300 text-gray-900 focus:ring-gray-300 focus:border-gray-300 dark:bg-gray-600 inline-flex items-center px-3 rounded-l-md border border-r-0 text-sm dark:text-white">R</span>
                      <%= form.text_field :amount, class: "bg-gray-50 border border-gray-300 text-gray-900 flex-1 focus:ring-white focus:border-white block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 focus:ring-white focus:border-white min-w-0 rounded-none rounded-r-md text-sm dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
                    </div>
                  </div>
                </div>
                <!-- <div class="flex justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required="">
                            </div>
                            <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Save Recipient</label>
                        </div>
                        <a href="#" class="text-sm text-lightGreen hover:underline dark:text-lightGreen">Lost Password?</a>
                    </div> -->
                <div class="flex justify-between">
                  <a id="cancel-btn" class="w-1/3 mr-1 text-white bg-darkRed hover:bg-darkRed focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-darkRed dark:hover:bg-darkRed dark:focus:ring-blue-800">Cancel</a>
                  <%= form.submit 'Submit', class: "w-1/3 ml-1 text-white bg-darkGreen hover:bg-lightGreen focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-darkGreen dark:hover:bg-lightGreen dark:focus:ring-blue-800" %>
                </div>
                <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                  Funds may reflect after 3 business days. <a href="#" class="text-blue-700 hover:underline dark:text-blue-500">Find out more</a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  // Grabs all the Elements by their IDs which we had given them
      let modal = document.getElementById("withdrawal-modal");
      let btn = document.getElementById("btn-withdraw");
      let button = document.getElementById("ok-btn");
      let buttonClose = document.getElementById("cancel-btn");
       // We want the modal to open when the Open button is clicked
      btn.onclick = function() {
      modal.style = "fixed top-0 left-0 right-0 z-50 w-full overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full justify-center items-center flex";
      }
      // We want the modal to close when the OK button is clicked
      button.onclick = function() {
      modal.style.display = "none";
      }
      buttonClose.onclick = function() {
      modal.style.display = "none";
      }

      window.onload = function(event){
        modal.style.display = "none";

      }
      window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }

      }
</script>
<script>
  var element = document.getElementById('withdrawal_amount');
  var maskOptions = {
    mask: '000,000.00'
  };
  var mask = IMask(element, maskOptions);
</script>
